<div id="comoayudar" class="content-page">
    <div class="container-ayuda">
        <h2 class="title-page my-2">¿Cómo Ayudar?</h2>
        <h6 class="font-weight-bold">Tu donación alimentará a muchas familias vulnerables</h6>
        <div class="boxes__parent d-flex">
            <div class="boxes">
                <div class="box">
                    <img class="pt-4 pb-2" src="assets/img/ayuda1.png" alt="caja auxilio" width="180">
                    <p class="box__band py-2">DONANDO S/20.00</p>
                    <div class="box__kilo">
                        <span class="number">3</span>
                        <span>KILOS</span>
                    </div>
                    <p class="p-2">Llevarás alimentos no perecibles a una familia de 4 miembros por un día</p>
                </div>
                <div class="box">
                    <img class="pt-4 pb-2" src="assets/img/ayuda2.png" alt="caja auxilio" width="180">
                    <p class="box__band py-2">DONANDO S/60.00</p>
                    <div class="box__kilo">
                        <span class="number">9</span>
                        <span>KILOS</span>
                    </div>
                    <p class="p-2">Llevarás alimentos no perecibles a una familia de 4 miembros por 3 días</p>
                </div>
                <div class="box">
                    <img class="pt-4 pb-2" src="assets/img/ayuda3.png" alt="caja auxilio" width="180">
                    <p class="box__band py-2">DONANDO S/100.00</p>
                    <div class="box__kilo">
                        <span class="number">15</span>
                        <span>KILOS</span>
                    </div>
                    <p class="p-2">Llevarás alimentos no perecibles a una familia de 4 miembros por 5 días</p>
                </div>
                <div class="box">
                    <img class="pt-4 pb-2" src="assets/img/ayuda4.png" alt="caja auxilio" width="180">
                    <p class="box__band py-2">DONANDO S/140.00</p>
                    <div class="box__kilo">
                        <span class="number">21</span>
                        <span>KILOS</span>
                    </div>
                    <p class="p-2">Llevarás alimentos no perecibles a una familia de 4 miembros por 7 días</p>
                </div>
            </div>
            <small class="text-center ml-1" style="font-size: 60%; writing-mode: tb-rl;">imágenes referenciales</small>
        </div>
        <span class="m-2 text-center" style="max-width: 784px;">El contenido de una canasta de alimentos no perecibles de emergencia que ADRA reparte, garantiza el contenido de un mínimo de 2100 kilocalorías por día y persona. La canasta de alimentos están proyectados en ayudar a una familia por un mínimo de 5 días.</span>
    </div>

    <div class="notice">
        <img class="notice__map" src="assets/img/map.png" alt="">
        <img class="notice__point" src="assets/img/point.png" alt="">
        <p>Contamos con 21 centros de acopio de alimentos a nivel nacional</p>
        <a routerLink="centrosdeacopio" class="btn notice__action">CONOCE MÁS</a>
    </div>
</div>