<div class="container-pages">
	<ul class="p-0">
		<li>
			<a href="https://www.adra.org.pe/voluntariado" class="container bg-green">
				<p class="text-center text-white m-0">PARTICIPA COMO VOLUNTARIO</p>
      </a>
      <div class="container container-main h-100" [style.background-image]="(appOrientation === 0 || appOrientation === 180)? 'url(assets/img/mob-background.jpg)' : ((appOrientation === 90 || appOrientation === -90)? null : 'url(assets/img/full-background.jpg)')">
        <div class="row justify-content-center h-100">
          <div class="col-lg-3 col-md-4 col-sm-5 col-7">
            <div class="d-md-none d-lg-flex row justify-content-center mt-2">
              <div class="col-8 col-lg-6">
                <a href="https://www.adra.org.pe">
                  <img draggable="false" style="width: 100%;" src="assets/img/adra-horizontal-logo.png" alt="logo">
                </a>
              </div>
            </div>
            <img class="px-lg-2" draggable="false" style="width: 100%;" src="assets/img/logo-campaña-no-margin.png" alt="isologo">
          </div>
          <div class="col-12 d-flex justify-content-center align-items-end">
            <button (click)="goHome()" class="btn btn-colabora font-weight-bold mb-5">COLABORA AQUÍ</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="container bg-white h-100 d-flex align-items-center">
        <div class="row justify-content-center">
          <div class="col-12">
            <p class="text-center mb-1 d-sm-none"><small>PROYECTOS DE ADRA CONTRA<br>LA COVID-19 DEL 2020 A MARZO 2021</small></p>
            <p class="text-center mb-1 d-none d-sm-block"><small>PROYECTOS DE ADRA CONTRA LA COVID-19 DEL 2020 A MARZO 2021</small></p>
          </div>
          <div class="col-12 col-md-8 col-lg-6">
            <div class="form-row text-center justify-content-center my-2 mx-0">
              <div class="col-5 col-sm-3">
                <div class="bg-green px-1">
                  <small>N° PROYECTOS</small>
                  <h5 class="pb-1">18</h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="bg-green px-1">
                  <small>MONTO UTILIZADO</small>
                  <h5 class="pb-1">S/ 1'583,463</h5>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="bg-green px-1">
                  <small>N° BENEFICIARIOS</small>
                  <h5 class="pb-1">+478,912</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-0">
            <h6 class="text-center font-weight-bold mb-2 d-sm-none">"Tu ayuda regresa la sonrisa a<br>quienes lo perdieron todo"</h6>
            <h6 class="text-center font-weight-bold mt-1 mb-2 d-none d-sm-block">"Tu ayuda regresa la sonrisa a quienes lo perdieron todo"</h6>
            <div class="d-flex justify-content-center">
              <youtube-player 
                videoId="x48_xFIysok"
                suggestedQuality="default"
                height="auto" 
                width="auto">
              </youtube-player>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button (click)="goHome()" class="btn btn-colabora font-weight-bold mt-3 mt-sm-1">COLABORA AQUÍ</button>
          </div>
        </div>
      </div>
		</li>
    <li>
      <div class="container bg-white h-100 d-flex align-items-center">
        <div class="row justify-content-center">
          <div class="col-12">
            <h5 class="text-center font-weight-bold m-sm-0">Razones para colaborar</h5>
          </div>
          <div class="col-12 col-sm-7 col-md-5 col-lg-4">
            <div class="form-row text-green razones my-4 my-sm-3">
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img draggable="false" src="assets/img/cambia-vidas.png" alt="cambia-vidas">
                </div>
                <h6 class="font-weight-bold">Cambia<br>vidas</h6>
              </div>
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img draggable="false" src="assets/img/incrementa-la-empatía.png" alt="incrementa-la-empatía">
                </div>
                <h6 class="font-weight-bold">Incrementa<br>la empatía</h6>
              </div>
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img draggable="false" src="assets/img/expresa-gratitud.png" alt="expresa-gratitud">
                </div>
                <h6 class="font-weight-bold">Expresa<br>gratitud</h6>
              </div>
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img draggable="false" src="assets/img/aumenta-la-autoestima.png" alt="aumenta-la-autoestima">
                </div>
                <h6 class="font-weight-bold">Aumenta la<br>autestima</h6>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h6 class="text-center font-weight-bold mt-1">Desde 1954 brindamos ayuda humanitaria a las personas que lo perdieron todo.</h6>
            <p class="my-4 my-sm-2 text-center"><small>Nuestra organización realiza cada año un programa de transparencia a través de nuestros canales digitales. CLIC AQUÍ</small></p>
            <div class="col-12 text-center">
              <button (click)="goHome()" class="btn btn-colabora font-weight-bold mt-sm-1">COLABORA AQUÍ</button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li style="height: unset !important;">
      <div class="container bg-orange">
				<p class="text-center m-0">Otorgamos certificado de donación</p>
			</div>
      <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="credits ml-auto mr-4 mb-2">
                    <span class="copyright"> © {{ year }}, Hecho con <i class="fa fa-heart heart"></i> por ADRA Perú </span>
                </div>
            </div>
        </div>
      </footer>
    </li>
	</ul>
</div>