<div id="inicio" class="container-home">
  <div class="information">
    <div class="information__card">
      <img class="container-home__image" src="assets/img/logo-campaña-no-margin.png" alt="ayudar hace bien" />
      <div class="goal mt-4">
        <h6 class="goal__title">Meta:</h6>
        <h3 class="goal__total">{{ data? data.metaToneladas : 0 }} toneladas</h3>
        <div class="progress goal__progress">
          <div class="progress-bar" role="progressbar" [style.width.%]="data? data.porcentajeToneladas : 0"
            aria-valuemin="0" aria-valuemax="100">{{ data? data.porcentajeToneladas : 0 }}%</div>
        </div>
      </div>
      <a (click)="goTo('comodonar')" class="btn btn-colaborate animate__animated animate__bounce btn-lg my-4">COLABORA AQUÍ</a>
      <h6 class="note w-100 m-0 px-4">Tu ayuda devuelve la sonrisa a las<br>personas que lo perdieron todo</h6>
    </div>
  </div>
  <div class="selector">

  </div>
</div>
<app-como-ayudar></app-como-ayudar>
<app-porque-ayudar></app-porque-ayudar>
<router-outlet></router-outlet>