.content-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container-ayuda{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        background-color: white;
        p{
            text-align: center;
        }
    }
}

.notice{
    background: var(--color-green-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
    p{
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
    &__action{
        background-color: var(--color-yellow-1);
        color: black;
        font-weight: bold;
    }
    img{
        width: 100px;
    }
    &__map{
        position: absolute;
        opacity: 0.55;
        top:20%;
        right: 0;
        z-index: -1;
    }
    &__point{
        position: absolute;
        top:20%;
        opacity: 0.2;
        left: 0;
        z-index: -1;
    }
}

.boxes{
    display: flex;
    gap: 16px;
    margin: 10px 0;
    .box{
        max-width: 184px;
        border: 2px solid var(--color-green-1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        p{
            margin: 0;
            font-size: .75rem;
        }
        img:hover{
            transform: scale(1);
        }
        &__kilo {
            position: absolute;
            right: 6px;
            top: 6px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: var(--color-green-1);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: white;
            span{
                font-size: .4rem;
            }
            .number{
                font-size: 1rem;
                font-weight: bold;
            }
        }
        &__band {
            background-color: var(--color-red-1);
            color: white;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 880px) {
    .content-page{
        .notice{
            flex-basis: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            p{
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 880px) and (min-width: 385px) { 
    .container-ayuda{
        h6{
            text-align: center !important;
        }
    }
    .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .box{
            img{
                width: 150px;
            }
        }
    }
}

@media (max-width: 385px) and  (min-width: 0px){ 
    .container-ayuda{
        h6{
            text-align: center !important;
            font-size: .9rem;
        }
    }
    .boxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .box{
            img{
                width: 120px;
            }
        }
        padding: 0 10px;
    }
    .notice {
        p{
            color: white;
            font-size: 1rem;
            text-align: center;
        }
    }
}