<div class="content-page">
  <div class="container-voluntario">
    <h1 class="d-none d-md-block font-weight-bold text-center px-3 mt-md-3">Únete como voluntario digital</h1>
    <h1 class="d-md-none font-weight-bold text-center px-3">Únete como<br>voluntario digital</h1>
    <h5 class="text-center px-3">Escoge tu grupo de acuerdo a tu departamento y ayúdanos a seguir llevando alimento a muchas familias.</h5>
    <div class="container">
      <div class="row">
        <div class="col-3 d-none d-md-flex justify-content-center align-items-center">
          <img src="assets/img/voluntarito.png" alt="voluntarito" class="voluntarito px-md-2 px-lg-4">
        </div>
        <div class="col-12 col-md-9 d-flex justify-content-center align-items-center flex-column">
          <div class="boxes">
            <div class="box">
              <h3 class="box__title">Equipo 1</h3>
              <h6 class="box__description pb-1">Amazonas, Áncash, Apurímac y Arequipa</h6>
              <a href="https://chat.whatsapp.com/HSKzHs72eHM1fso0dVz3hN" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
            <div class="box">
              <h3 class="box__title">Equipo 2</h3>
              <h6 class="box__description pb-1">Ayacucho, Cajamarca, Cusco y Huancavelica</h6>
              <a href="https://chat.whatsapp.com/CuwBlaoI0Pv4FNkkPF5hTs" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
            <div class="box">
              <h3 class="box__title">Equipo 3</h3>
              <h6 class="box__description pb-1">Huánuco, Ica, Junín y la Libertad</h6>
              <a href="https://chat.whatsapp.com/EkVL1vEsp0zBAADKD3TSpa" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
            <div class="box">
              <h3 class="box__title">Equipo 4</h3>
              <h6 class="box__description pb-1">Lambayeque, Lima, Loreto y Madre de Dios</h6>
              <a href="https://chat.whatsapp.com/L1dQ8G3gduXEFGOreWH9Ob" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
            <div class="box">
              <h3 class="box__title">Equipo 5</h3>
              <h6 class="box__description pb-1">Moquegua, Pasco, Piura y Puno</h6>
              <a href="https://chat.whatsapp.com/FmNpify1XAx6n8xJl0EZBj" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
            <div class="box">
              <h3 class="box__title">Equipo 6</h3>
              <h6 class="box__description pb-1">San Martín, Tacna, Tumbes y Ucayali</h6>
              <a href="https://chat.whatsapp.com/LZSuBf4ZidLCe5kyb4B3B3" target="_blank" class="btn">ÚNETE AQUÍ</a>
            </div>
          </div>
          <h5 class="text-center mt-2 mt-lg-4">Tu ayuda es valiosa para nosotros ¡Muchas gracias!</h5>
        </div>
        <div class="col-3 d-none d-md-block"></div>
        
      </div>
    </div>
  </div>
  <div class="notice">
    <h5 class="text-center m-0">Al finalizar la campaña los participantes recibirán una constancia de participación</h5>
  </div>
</div>