<div class="row justify-content-center">
    <div class="col-12 my-2">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h5 class="font-weight-bold">"Tu ayuda regresa la sonrisa a quienes lo perdieron todo"</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12 col-11">
        <div class="row justify-content-center boxes">
            <div class="col-lg-3 col-md-3 col-6 my-2">
                <a href="https://adra.org.pe/colecta/"><img draggable="false" style="width: 100%;" src="assets/img/visa.png" alt="caja auxilio"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-6 my-2">
                <a [routerLink]="['yape']"><img draggable="false" style="width: 100%;" src="assets/img/yape.png" alt="caja yape"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-6 my-2">
                <a [routerLink]="['bcp']"><img draggable="false" style="width: 100%;" src="assets/img/bcp.png" alt="caja bcp"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-6 my-2">
                <a [routerLink]="['bbva']"><img draggable="false" style="width: 100%;" src="assets/img/bbva.png" alt="caja bbva"></a>
            </div>
        </div>
    </div>
    <div class="col-12 my-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h5 class="font-weight-bold">
                    Realiza tu donación haciendo clic<br>
                    en la alcancía virtual de tu preferencia
                </h5>
            </div>
        </div>
    </div>
</div>