<div class="content-page">
  <div class="container-centros">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-6 text-center">
          <img class="w-100" src="assets/img/logo-campaña-horizontal.png" alt="logo">
        </div>
        <div class="col-lg-6">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto col-md-5 mb-3 mb-md-0">
              <div class="d-flex align-items-center mb-2">
                <div class="box box__yellow"></div>
                <h6 class="font-weight-bold m-0 ml-2">LIMA</h6>
              </div>
              <div class="d-flex align-items-center">
                <div class="box box__red"></div>
                <h6 class="font-weight-bold m-0 ml-2">DEPARTAMENTOS</h6>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card-acopio d-flex">
                <h1 class="font-weight-bold m-0">21</h1>
                <h6 class="m-0">Centros de acopio a nivel nacional</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center mt-3 mt-lg-0">
          <h5 class="font-weight-bold m-0"><i class="fas fa-clock-o"></i> 9:00 am a 6:00 pm</h5>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="list__title">
                <h6>2 al 5 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Huancayo: Jr. Libertad 745 <b class="text-danger">(Huancayo)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>2 al 6 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA José de San Martin: García Calderón 113 <b class="text-danger">(Arequipa)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA 28 de julio: Jr. Deza N° 454 Calle Miller # 184 <b class="text-danger">(Tacna)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>4 al 7 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Puno: Esquina Jr. Deza con Jr. Piura <b class="text-danger">(Puno)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>5 al 9 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA José de San Martin: Jr. Independencia 871 <b class="text-danger">(Trujillo)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA de Piura: Av. Loreto 675 - (Óvalo Grau) <b class="text-danger">(Piura)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">Oficina Central MPN: Calle La Pinta 235, La Victoria <b class="text-danger">(Chiclayo)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">Oficina Central MNO: Jr. Ramirez Hurtado 321 <b class="text-danger">(Tarapoto)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item border__bottom d-md-none">
              <div class="list__title">
                <h6>6 y 13 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Jesús el Sembrador: Jr. Los Tulipanes 380 <b class="text-danger">(Carabayllo)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item d-none d-md-block">
              <div class="list__title">
                <h6>6 y 13 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Jesús el Sembrador: Jr. Los Tulipanes 380 <b class="text-danger">(Carabayllo)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="list__title">
                <h6>8 al 11 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Miraflores: Av. Comandante Espinar 750 <b class="text-danger">(Miraflores)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Americana: Jr. Santiago Mamani 335 <b class="text-danger">(Juliaca)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Amazonas: Jr. Napo 589 <b class="text-danger">(Iquitos)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Ucayali: Jr. Raymondi 340 <b class="text-danger">(Pucallpa)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA José Pardo: Av. Pardo Paseo de los Héroes 928 <b class="text-danger">(Cusco)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Unión Americana: Calle Urubamba 127 <b class="text-danger">(Ica)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA Salvador: Av. Micaela Bastidas 15829 <b class="text-danger">(Villa El Salvador)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>8 al 30 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">Clínica Good Hope: Malecón Balta 956 <b class="text-danger">(Miraflores)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>9 y 10 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IASD El Inti: Av. Los Olivos 170 La Era <b class="text-danger">(Lima)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center mb-2">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA España: Av. España 601 <b class="text-danger">(Breña)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA El Buen Pastor de Canto Rey: Calle El Collar 467 <b class="text-danger">(San Juan de Lurigancho)</b></h6>
                <div class="box box__yellow ml-auto"></div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="list__title">
                <h6>11 de setiembre</h6>
              </div>
              <div class="w-100 d-flex align-items-center">
                <img src="assets/img/ubicacion.png" alt="logo" class="ub-icon">
                <h6 class="m-0 mx-2">IEA El Santa: Jr. Carlos de los Heroes 252 (Av Pardo) <b class="text-danger">(Chimbote)</b></h6>
                <div class="box box__red ml-auto"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="notice flex-column flex-md-row">
    <h5 class="text-center m-0">Tu donación alimentará a muchas familias vulnerables</h5>
    <a routerLink="" (click)="goTo('comodonar')" class="btn notice__action">DONAR AHORA</a>
  </div>
</div>